include core/LICENSE.txt
include core/z3.pc.cmake.in
recursive-include core CMakeLists.txt
recursive-include core *.cmake
recursive-include core/src *
recursive-include core/cmake *
recursive-include core/scripts *
include pyproject.toml
