name: Open Issues

on:
  schedule:
    - cron: '0 0 */2 * *'

env:
  BUILD_TYPE: Debug

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Clone z3test
      run: git clone https://github.com/z3prover/z3test z3test
    
    - name: Run regressions
      run: python z3test/scripts/test_benchmarks.py build/z3 z3test/regressions/issues    
      
      
